{% extends 'layout.html' %}
{% block content %}
<div>
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <nav class="navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Basic FAQ Page</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container">
    <div class="bl-form">
      <form class="form-horizontal" action="/login" method="post">
        <div class="form-group">
          <label class="col-sm-2 control-label">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}